.tl {
    text-align: left;
}
.centered-signup {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-signup {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    border: none;
    background-color: rgba(212, 0, 68, 1);
    color: #fff;
    padding: 8px;
    outline-style: none;
    font: 300 20px serif;
    cursor: pointer;
}

.btn-signup:hover {
    background-color: rgba(212, 0, 68, 0.9);
}

/*.header {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    font: bold 28px baskerville;
    text-align: center;
    padding: 10px;
    margin: 0;
    background-image: linear-gradient(to right, rgba(195, 0, 31, 0.3), rgba(130, 20, 99, 0.1));
}

.content-signup {
    width: 100%;
    padding: 5px 10px;
    display: inline-flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.label-item {
    text-align: left;
    padding: 5px;
    width: 70%;
    margin: 0 15% 0 15%;
    font: 18px baskerville;
}

.input-item {
    padding: 10px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin: 0 15% 0 15%;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.btn-register {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 68%;
    margin: 10px 15% 10px 15%;
    font: 18px baskerville;
    outline-style: none;
}

.btn-register:hover {
    background-color: rebeccapurple;
}*/

@media only screen and (max-width: 768px) {

    .centered-signup {
        width: 100%;
        top: 55%;
    }

    .btn-signup {
        height: 30px;
        width: 70px;
        font: 300 12px serif;
    }

    /*.header {
        font: bold 16px baskerville;
    }

    .label-item {
        width: 100%;
        margin: 0;
        font: 12px baskerville;
    }

    .input-item {
        padding: 6px 10px;
        margin: 5px 0;
        width: 100%;
        margin: 0;
    }

    .btn-register {
        padding: 10px 10px;
        width: 92%;
        margin: 10px 4% 10px 4%;
        font: 12px baskerville;
    }*/
}
