.container-menu {
    padding: 10px;
    width: 50%;
    background-color: #ffffff;
    margin-left: 7%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
}

.content {
    margin: 0px;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}

.items {
    margin-top: -2px!important;
    color: #33373D!important;
    font-weight: 600!important;
    font-size: 16px!important;
    font-size: 16px;
    margin-left: 15px;
    text-align: left;
    text-transform: capitalize;
}

.prices {
    padding-bottom: 2px;
    font-size: 16px;
    color: #414A67!important;
    margin: 2px 23px -2px;
    display: block;
    float: left;
}

.add-menu-btn {
    float: right;
    text-transform: uppercase;
    height: 25px;
    width: 70px;
    margin-top: -21px;
    border-radius:5px;
    border: 1.5px solid green;
    background-color: #fff;
    font: 14px baskerville;
    outline-style: none;
    cursor: pointer;
}

.grp-btn-minus {
    float: right;
    text-transform: uppercase;
    height: 25px;
    width: 24px;
    margin-top: -21px;
    border-bottom-right-radius:5px;
    border-top-right-radius: 5px;
    border: 1px solid green;
    background-color: #fff;
    font: 14px baskerville;
    outline-style: none;
}
.grp-btn-text {
     float: right;
     text-transform: uppercase;
     height: 21px;
     width: 20px;
     margin-top: -21px;
     border: 1px solid green;
     background-color: #fff;
     font: 14px baskerville;
    text-align: center;
    color: white;
    background-color: green;
 }

.grp-btn-plus {
    float: right;
    text-transform: uppercase;
    height: 25px;
    width: 24px;
    margin-top: -21px;
    border-bottom-left-radius:5px;
    border-top-left-radius: 5px;
    border: 1px solid green;
    background-color: #fff;
    font: 14px baskerville;
    text-align: center;
    outline-style: none;
}

.menu-head {
    margin: 10px 0 0 7%;
    padding: 10px;
    width: 20%;
    border-bottom: 2px solid  rgba(160, 48, 150,1);
    text-transform: capitalize;
    text-align: left;
    font: italic 24px baskerville;
}

.show-div {
    visibility: visible;
}

.hide-div {
    visibility: hidden;
}

@media only screen and (max-width: 768px) {

    .container-menu {
        width: auto;
        box-sizing: border-box;
        margin: 3%;
    }
    .scroll-menu:last-child{
        margin-bottom: 150px;
    }

    .menu-head {
        font: italic 16px baskerville;
        width: 40%;
    }

    .items{
        font-size: 14px!important;
        margin: 0px 10px 0 0;
        width: 70%;
    }
    .prices{
        margin: 2px 10px;
    }
}
