.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-home {
    position: relative;
    background-size:contain;
    height: 600px;
    width: 100%;
    /*filter: grayscale(20%);*/
    display: block;
    z-index: -1;
}

.centered {
    position: absolute;
    top: 70%;
    left: 0%;
    /*transform: translate(-50%, -50%);*/
    width: 100%;
}

.slogan {
    color : #fff;
    font: 500 36px baskerville;
    font-style: italic;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .img-home {
        height: 200px;
    }

    .centered {
        width: 100%;
        top: 50%;
     }

    .slogan {
        font: 300 16px baskerville;
        font-style: italic;
    }
}