.container-sidenav{
    background-image: linear-gradient(to left , rgba(212, 18, 132,0.5),rgba(191, 0, 112,0.7),rgba(253, 21, 27,1));
    width: 230px;
    color: #fff!important;
    font-weight: 600!important;
    font-size: 16px!important;
    font-size: 16px;
    text-align: left;
    position: absolute;
    border: 1px solid grey;
}