.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    font-family: 'Arial';
    position: fixed;
    width: auto;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 10px);
    background-color: white;
    border: 1px solid #547da1;
    z-index: 2;
    box-shadow: 0 0px 6px #15030A;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    animation: enlarge-box 0.9s forwards;
}

.close {
    position: absolute;
    right: 0;
    z-index: 1;
    color: white;
    border-radius: 0 2px 0 4px;
    background-color: #547da1;
    width: 24px;
    text-align: center;
    height: 24px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn-grp {
    display: flex;
    flex-wrap: wrap;
}

.modal-btns {
    width: 50%;
    height: 35px;
    background-color: rgba(84, 125, 161, 0.4);;
    border: none;
    outline-style: none;
    border-right: 1px solid #fff;
}

.modal-btns:hover {
    background-color: rgba(84, 125, 161, 0.2);
    cursor: pointer;
}

.active{
    background-color: rgba(84, 125, 161, 0.2);
}

.social-modal-content {
    /*max-height: calc(100vh - 79px);*/
    overflow-y: auto;
    padding: 25px 30px 30px 30px;
}

.facebook-login-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    width: 100%;
    color: white;
    display: block;
    border: none;
    padding: 8px 10px;
    text-align: left;
    background-color: #3b5998;
}

.facebook-login-button svg {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-color: white;
    border-radius: 3px;
    margin-right: 8px;
}

.google-login-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    width: 100%;
    color: white;
    display: block;
    border: none;
    padding: 8px 10px;
    text-align: left;
    transition: background-color 0.5s;
    background-color: #db4437;
}

.google-login-button:nth-child(n+2) {
    margin-top: 5px;
}

.google-login-button svg {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-color: white;
    border-radius: 3px;
    margin-right: 8px;
}

.social-method-seprator {
    text-align: center;
    font-size: 16px;
    color: #888;
    margin-top: 12px;
    margin-bottom: 12px;
}

.login-modal-form {
    opacity: 1;
    animation: login-form-fade-in 1s forwards;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    box-sizing: border-box;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.05s, box-shadow ease-in-out 0.05s;
}

.login-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    float: left;
    transition: background-color 0.15s;
}

.login-btn:hover{
    color: #2F9E36;
}

.centered-signup {
    position: absolute;
    top: 90%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
}

.btn-signup {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    border: none;
    background-color: rgba(212, 0, 68, 1);
    color: #fff;
    padding: 8px;
    outline-style: none;
    font: 300 20px serif;
    cursor: pointer;
}

.btn-signup:hover {
    background-color: rgba(212, 0, 68, 0.9);
}

.error-span{
    font: 16px baskerville;
    color: red;
}

.error-element{
    border: 1px solid red;
}

@media screen and (max-width: 768px){
    .modal-content{
        top: 40%;
    }
    .centered-signup {
        width: 100%;
        top: 60%;
    }
    .btn-signup {
        height: 25px;
        width: 70px;
        font: 300 10px serif;
    }
}