.order-container{
    margin-left: 60%;
    top: 378px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    height: 78%;
    width: 430px;
    overflow-y: scroll;
    bottom: 30px;
}

body ::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body{
    overflow-x: hidden;
}

.underline {
    text-transform: capitalize;
    font:bold 24px baskerville;
    padding: 10px;
    border-bottom: 2px solid  rgba(160, 48, 150,1);
    margin-left: 60%;
    top: 318px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 410px;
}

.popup-btn{
    margin-left: 58.1%;
    bottom: 5px;
    position: absolute;
    width: 480px;
}

.scrolled{
    position: fixed;
    top: 70px;
}

.scrolled-header{
    position: fixed;
    top: 10px;
}

.scrolled-btn{
    position: fixed;
    bottom: 5px;
}

.order-name {
    width: 70%;
    float: left;
    text-align: left;
    padding: 10px 20px;
    animation-name: pulse;
    animation-duration: 1s;
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.15, 1.15, 1.15);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

li {
    width: 100%;
    list-style: none;
    text-transform: capitalize;
    word-spacing: 5px ;
    font: 600 16px baskerville;
}

.removeBtn {
    border: 0;
    display: none;
    line-height: 1;
    padding: 0;
}

li:hover .removeBtn {
    display: inline;
    background-color: rgba(255, 0, 0, 0.68);
    border-radius: 5px;
    border: 1px solid red;
    height: 15px;
    width: 25px;
    color: #fff;
}

.price {
    width: auto;
    float: right;
    text-align: right;
    padding: 10px 8px;
}

.total {
    margin-left: 60%;
    bottom: 35px;
    position: absolute;
    color: #414A67!important;
    font: 800 16px baskerville;
    height: 25px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding: 5px;
    width: 420px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.scrolled-total{
    position: fixed;
    bottom: 35px;
}

.popup-btn-design {
    height: 35px;
    width: 90%;
    border: 1px solid #2F9E36;
    background-color: #2F9E36;
    color: white;
    font: 600 18px baskerville;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.popup-btn-design:hover{
    background-color: #056B0C;
}

.popup-choose-mob{
    text-align: left;
    font:16px baskerville;
    padding: 5px;
    margin-left: 20px;
    letter-spacing: 0.5px;
    overflow-y: scroll;
    color: #414A67;
}

.radio-btn{
    width: 20px;
    height: 15px;
}

.mob-header{
    font: 900 20px baskerville;
    text-align: left;
    margin: 10px 20px 0 20px;
    color: #414A67;
}

.popup-add-btn{
    width: auto;
    height: 30px;
    float: left;
    margin:0 0 8px 8px;
    font: 14px 'Times New Roman';
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,0.2);
}

.popup-cont-btn{
    width: auto;
    height: 30px;
    float: right;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    border: 1px solid #2F9E36;
    background-color: #2F9E36;
    font: 14px baskerville;
    color: #ffffff;
    border-radius: 4px;
}

.popup-cont-btn:hover{
    background-color: #056B0C;
    cursor: pointer;
}

.popup-add-btn:hover{
    background-color: rgba(0,0,0,0.10);
    border: 1px solid rgba(0,0,0,0.10);
    cursor: pointer;
}

.popup-label{
    margin-left: 30px;
}

.popup-text{
    height: 16px;
    width: 65%;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 6px;
    border-radius: 4px;
    outline-style: none;
}

.address-label{
    font:16px baskerville;
    color: #414A67;
    float: left;
    margin-left: 10px;
    width: 100%;
    text-align: left;
}

.add-type-label{
    font: 18px baskerville;
    color: #414A67;
    text-align: left;
}

.popup-add-text{
    width: 97%;
    outline-style: none;
    padding: 8px 12px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.view-order{
    visibility: hidden;
}
.hover-menu h3{
    visibility: hidden;
}
.error-span{
    font: 16px baskerville;
    color: red;
    text-align: left;
}
.no-select:hover{
    cursor: not-allowed;
    background-color: #2F9E36;
}
@media screen and (max-width: 768px){
    .underline {
        visibility: hidden;
        margin: 0;
        width: 100%;
        font-size: 20px;
    }
    .order-container{
        height: 100px;
        margin: 0;
        width: 100%;
        background-color: #887BAF;
        color: #fff;
        top: auto;
        bottom: 50px;
    }
    .order-name{
        width: 60%;
    }
    .total{
        margin: 0;
        width: 100%;
    }
    .popup-btn{
        margin: 0;
        width: 100%;
    }
    .popup-btn-design{
        width: 100%;
    }
    .order-container:hover{
        height: 300px;
    }
    .scrolled{
        top: auto;
        bottom: 75px;
    }
    .scrolled-header{
        top: auto;
        bottom: 70px;
    }
}

