.content-container{
    margin: 40px 10% 20px 10%;
    display: flex;
    flex-wrap: nowrap;
}

.restaurant-name{
    /*font:italic bold 26px baskerville;*/
    /*font: 400 30px "Playfair Display", Georgia, serif;*/
    /*border-bottom: 2px solid rgba(160, 48, 150,1);*/
    font: 400 28px lora;
    width:20%;
    margin : 10px 430px;
    /*color: #414A67;*/
    color: #000;
    animation-duration: 1s;
    line-height: 1.7;
}

.restaurant-discription{
    font: 18px baskerville;
    text-align: justify;
    width: 45%;
    float: right;
    margin: 30px 0 30px 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    color: #33373D;
    word-spacing: 2px;
    height: 320px;
    border: 0.5px solid #cccccc;
    border-radius: 15px;
    background-color: #F6F6F6;
    /*animation-duration: 1s;*/
}

.restaurant-discription:hover, .chef-discription:hover, .visit-us-order:hover{
    box-shadow: 0 4px 8px 0 rgba(114, 76, 143,0.3);
}

.restaurant-img{
    float: left;
    position: absolute;
    margin: 30px 0 30px 20px;
    width: 40%;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

.restaurant-main-img{
    float: left;
    position: absolute;
    margin: 30px 0 30px 20px;
    width: 40%;
    border-radius: 15px;
}

.rest-image{
    position: relative;
    background-size:100%;
    height: 315px;
    width: 100%;
    display: inline-flex;
    z-index: -1;
    border-radius: 15px;
}

.special-items{
    margin: 20px 0;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.special-img{
    height: 200px;
    width: 235px;
    padding: 11px;
    border-radius: 20px;
}

.visit-us{
    margin: 30px 0;
    float: left;
    width: 50%;
}

.visit-us-order{
    margin: 30px 0;
    float: right;
    width: 35%;
    padding: 105px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.home-add-label{
    font: bold 16px baskerville;
}

.home-add{
    font: 20px baskerville;
    color: #414A67;
    text-align: left;
    padding: 5px 10px;
}

.home-order{
    width: 90%;
    margin: 10px;
    padding: 7px;
    font: italic 18px baskerville;
    color: #ffffff;
    background-color: #2F9E36;
    border:1px solid #2F9E36;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.home-order:hover{
    background-color: #056B0C;
    border:1px solid #056B0C;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.3);
}

.restaurant-sub-image{
    float:right;
    position : relative;
    width: 45%;
}

.restaurant-sub-discription{
    float: left;
    width: 50%;
}

.google-map-frame{
    width:550px;
    height:450px;
}

@media screen and (max-width: 768px) {
    .content-container{
        margin: 10px 0;
    }
    .restaurant-name{
        margin: 10px 80px;
        font-size: 18px;
        width: auto;
    }
    .restaurant-main-img {
        width: auto;
        margin: 15px 20px;
        position: relative;
        float: none;
    }

    .restaurant-img {
        width: auto;
        margin: 15px 20px;
        position: relative;
        float: none;
    }
    .rest-image{
        height: 200px;
    }
    .restaurant-discription{
        width: auto;
        float: none;
        box-sizing: border-box;
        font-size: 15px;
        margin: 15px 20px;
        height: auto;
    }
    .restaurant-sub-image{
        float: none;
    }
    .special-items{
        display: inline-block;
    }
    .special-img{
        width: 300px;
        margin: 15px 20px;
        padding: 0;
    }
    .google-map-frame{
        width: 88%;
        height: 300px;
        margin: 15px 20px;
    }
    .visit-us-order{
        padding: 0;
        width: 88%;
        margin: 15px 20px;
    }
    .visit-us{
        width: 100%;
    }
}