
.ba {
    border-style: solid;
    border-width: 1px;
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black {
    border-color: #000;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

.baskerville {
    font-family: baskerville, serif;
}

.i {
    font-style: italic;
}

.fw1 {
    font-weight: 100;
}

.fw4 {
    font-weight: 400;
}

.h2 {
    height: 2rem;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
    border-style: none;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline-style: none;
}

.mw7 {
    max-width: 100%;
}

.w2 {
    width: 2rem;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.white {
    color: #fff;
}

.bg-black-80 {
    background-color: rgba(0, 0, 0, .8);
}

.bg-white {
    background-color: #fff;
}

.hover-bg-white:hover {
    color: white;
    border-style: none;
    font: 16px baskerville;
}

.pa3 {
    padding: 1rem;
}

.pv4 {
    padding-top: 2rem;
}

.mb0 {
    margin-bottom: 0;
}

.mt2 {
    margin-top: .5rem;
}

.mt4 {
    margin-top: 2rem;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.ttu {
    text-transform: uppercase;
}

.f1 {
    font-size: 3rem;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

.nav-bg {
    /*background-image: linear-gradient(to left, rgba(212, 0, 68, 0.6), rgba(237, 74, 78, 0.1));*/
    /*background-image: linear-gradient(to right, rgba(244, 0, 223, 0.8),rgba(152, 83, 146,0.8) );*/
    /*background-color: rgba(244, 0, 223, 0.7);*/
    background-color:  #E6E3E3;
    height: 45px;
    border-bottom: 1px solid #fff;
    border: 0.5px solid #cccccc;
}

.pointer {
    cursor: pointer;
}

.user-name{
    font: 18px baskerville;
}

@media screen and (max-width: 768px) {
    .ph4-l {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .f5-l {
        font-size: 1rem;
    }
    .nav-bg{
        height: 40px;
    }
    .pa3{
        padding: 0.6rem;
    }
}
