.footer-container-all{
    width: 100%;
}

.footer-container{
    display: flex;
    /*background-color: rgba(244, 0, 223, 0.7);*/
    background-color: #E6E6E6;
    color: #000;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
}

.footer-col1{
    width: 100%;
    /*max-width: 430px;*/
    margin:10px 10px 20px 10px;
}

.footer-col1 h1{
    font :600 22px lora;
    margin-bottom: 10px;
}

.footer-col1 p{
    font:500 18px baskerville;
    color: #000;
    text-align: center;
}

.footer-col2{
    width: 100%;
    /*max-width: 430px;*/
    margin: 10px 10px 20px 10px;
    text-align: center;
}

.footer-col2 h1{
    font :600 22px lora;
    margin-bottom: 10px;
}

.row2{
    margin-top: 10px;
    display: flex;
}

.row2 img{
    width: 28px;
    height: 28px;
    margin-top: 5px;
}

.row2 label{
    margin: 10px 0 0 20px;
    color: #000;
    font: 500 18px baskerville;
    text-align: left;
}

.footer-col3{
     width: 100%;
     /*max-width: 430px;*/
     margin: 10px 10px 20px 10px;
    padding-left: 20px;
 }

.footer-col3 h1 {
    font :600 22px lora;
    margin-bottom: 10px;
}

.row3{
    display: flex;
}

.row3 p{
    margin: 10px 0 0 20px;
    color: #000;
    font:500 18px baskerville;
    text-align: left;
}

.row3 img{
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.footer-bottom{
    /*background-color: rgba(244, 0, 223,1);*/
    background-color: #888888;
    width: 100%;
    color:#000;
    font: 16px baskerville;
    display: flex;
}

.copyright{
    width: 50%;
    text-align: left;
    margin: 10px;
}

.imp-company-link{
    width: 50%;
    text-align: right;
    margin: 10px;
}

@media screen and (max-width: 768px){
    .footer-container{
        display: inline-block;
    }
    .footer-col1{
        /*max-width: 340px;*/
        margin: 0;
    }
    .footer-col1 h1{
        font-size: 20px;
        margin: 20px 0 10px 0;
    }
    .footer-col1 p{
        font-size: 16px;
    }
    .footer-col2{
        /*max-width: 340px;*/
        margin: 0;
    }
    .footer-col2 h1{
        font-size: 20px;
        margin: 20px 0 0 0;
    }
    .footer-col2 label{
        font-size: 16px;
        text-align: left;
    }
    .row2{
        margin-top: 0;
        width: 100%;
    }
    .row2 img{
        margin: 10px 0 0 10px;
        width: 20px;
        height: 20px;
    }
    .footer-col3{
        /*max-width: 340px;*/
        padding-left: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .footer-col3 h1{
        font-size: 20px;
        margin: 20px 0 0 0;
    }
    .footer-col3 p{
        font-size: 16px;
    }
    .row3 img{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    .footer-bottom{
        display: inline-block;
    }
    .copyright{
        width: 88%;
        padding: 5px;
        margin: 0;
        font-size: 14px;
    }
    .imp-company-link{
        width: 94%;
        padding: 5px;
        margin: 0;
        font-size: 14px;
        text-align: right;
    }
}